{% extends "community/base.html" %}
{% load staticfiles %}

{% block content %}
    <table class="table">
        <tr>
            <th>제목</th>
            <th>저자</th>
            <th>날짜</th>
        </tr>
        {% for article in article_list %}
        <tr>
            <td>
                <a href="/community/view/{{article.pk}}">{{article.title}}</a>
            </td>
            <td>{{article.name}}</td>
            <td>{{article.cdate|date:"D d M Y" }}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="{% static 'community/community.js' %}"></script>
{% endblock content %}
