{% extends "community/base.html" %}
{% load staticfiles %}

{% block content %}
    <table class="table">
        <tr>
            <th>제목</th>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <th>저자</th>
            <td>{{ article.name }}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td>{{ article.contents }}</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>{{ article.email }}</td>
        </tr>
    </table>
{% endblock content %}
