<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>사진</th>
            <th>이름</th>
            <th>날짜</th>
        </tr>
        {% for article in article_list %}
        <tr>
            <td><img src="{{ article.photo.url }}" width="100" /></td>
            <td>{{ article.name }}</td>
            <td>{{ article.cdate|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>